# Wczytanie danych oraz wstępny wybór

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 50
pd.options.display.max_info_columns = 50
pd.options.display.max_rows = 100

data_source = pd.read_csv(r"data_2022/seasons_stats.csv",encoding='latin-1')
cols = ['Year', 'Player', 'Pos', 'Age', 'G', 'GS', 'MP',
       'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%',
       'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%',
       'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48',
       'OBPM', 'DBPM', 'BPM', 'VORP']       
data_source = data_source[cols]
data_source = data_source.query("Year >= 1982 and Year < 2022").reset_index(drop=True)
data_source.info() #20935 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20935 entries, 0 to 20934
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    20935 non-null  int64
 1   Player  20935 non-null  object
 2   Pos     20935 non-null  object
 3   Age     20935 non-null  float64
 4   G       20935 non-null  int64
 5   GS      20935 non-null  float64
 6   MP      20935 non-null  float64
 7   FG      20935 non-null  int64
 8   FGA     20935 non-null  int64
 9   FG%     20834 non-null  float64
 10  3P      20935 non-null  float64
 11  3PA     20935 non-null  float64
 12  3P%     17415 non-null  float64
 13  2P      20935 non-null  int64
 14  2PA     20935 non-null  int64
 15  2P%     20774 non-null  float64
 16  eFG%    20834 non-null  float64
 17  FT      20935 non-null  int64
 18  FTA     20935 non-null  int64
 19  FT%     20045 non-null  float64
 20  ORB     20935 non-null  float64
 21  DRB     20935 non-null  float64
 22  TRB     20935 non-null  float64
 23  AST     20935 non-null  int64
 24  STL     20935 non-null  float64
 25  BLK     20935 non-null  float64
 26  TOV     20935 non-null  float64
 27  PF      20935 non-null  int64
 28  PTS     20935 non-null  int64
 29  PER     20930 non-null  float64
 30  TS%     20845 non-null  float64
 31  3PAr    20834 non-null  float64
 32  FTr     20834 non-null  float64
 33  ORB%    20930 non-null  float64
 34  DRB%    20930 non-null  float64
 35  TRB%    20930 non-null  float64
 36  AST%    20930 non-null  float64
 37  STL%    20930 non-null  float64
 38  BLK%    20930 non-null  float64
 39  TOV%    20861 non-null  float64
 40  USG%    20930 non-null  float64
 41  OWS     20935 non-null  float64
 42  DWS     20935 non-null  float64
 43  WS      20935 non-null  float64
 44  WS/48   20930 non-null  float64
 45  OBPM    20935 non-null  float64
 46  DBPM    20935 non-null  float64
 47  BPM     20935 non-null  float64
 48  VORP    20935 non-null  float64
dtypes: float64(36), int64(11), object(2)
memory usage: 7.8+ MB

In [2]:
data_2022 = pd.read_csv(r"data/data_2022/totals_2022.csv",encoding='latin-1')
advanced_2022 = pd.read_csv(r"data/data_2022/advanced_2022.csv",encoding='latin-1')

data_2022 = pd.concat([data_2022,advanced_2022],axis=1)
cols_2022 = ['Player', 'Pos', 'Age','G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%','OWS', 'DWS', 'WS', 'WS/48',
       'OBPM', 'DBPM', 'BPM', 'VORP']
data_2022 = data_2022[cols_2022]
data_2022 = data_2022.loc[:,~data_2022.columns.duplicated()].copy()
data_2022.insert(0,'Year',2022)
data_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    812 non-null    int64
 1   Player  812 non-null    object
 2   Pos     812 non-null    object
 3   Age     812 non-null    int64
 4   G       812 non-null    int64
 5   GS      812 non-null    int64
 6   MP      812 non-null    int64
 7   FG      812 non-null    int64
 8   FGA     812 non-null    int64
 9   FG%     797 non-null    float64
 10  3P      812 non-null    int64
 11  3PA     812 non-null    int64
 12  3P%     740 non-null    float64
 13  2P      812 non-null    int64
 14  2PA     812 non-null    int64
 15  2P%     784 non-null    float64
 16  eFG%    797 non-null    float64
 17  FT      812 non-null    int64
 18  FTA     812 non-null    int64
 19  FT%     715 non-null    float64
 20  ORB     812 non-null    int64
 21  DRB     812 non-null    int64
 22  TRB     812 non-null    int64
 23  AST     812 non-null    int64
 24  STL     812 non-null    int64
 25  BLK     812 non-null    int64
 26  TOV     812 non-null    int64
 27  PF      812 non-null    int64
 28  PTS     812 non-null    int64
 29  PER     812 non-null    float64
 30  TS%     799 non-null    float64
 31  3PAr    797 non-null    float64
 32  FTr     797 non-null    float64
 33  ORB%    812 non-null    float64
 34  DRB%    812 non-null    float64
 35  TRB%    812 non-null    float64
 36  AST%    812 non-null    float64
 37  STL%    812 non-null    float64
 38  BLK%    812 non-null    float64
 39  TOV%    799 non-null    float64
 40  USG%    812 non-null    float64
 41  OWS     812 non-null    float64
 42  DWS     812 non-null    float64
 43  WS      812 non-null    float64
 44  WS/48   812 non-null    float64
 45  OBPM    812 non-null    float64
 46  DBPM    812 non-null    float64
 47  BPM     812 non-null    float64
 48  VORP    812 non-null    float64
dtypes: float64(25), int64(22), object(2)
memory usage: 311.0+ KB

In [3]:
data_source = pd.concat([data_source,data_2022])
data_source.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21747 entries, 0 to 811
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    21747 non-null  int64
 1   Player  21747 non-null  object
 2   Pos     21747 non-null  object
 3   Age     21747 non-null  float64
 4   G       21747 non-null  int64
 5   GS      21747 non-null  float64
 6   MP      21747 non-null  float64
 7   FG      21747 non-null  int64
 8   FGA     21747 non-null  int64
 9   FG%     21631 non-null  float64
 10  3P      21747 non-null  float64
 11  3PA     21747 non-null  float64
 12  3P%     18155 non-null  float64
 13  2P      21747 non-null  int64
 14  2PA     21747 non-null  int64
 15  2P%     21558 non-null  float64
 16  eFG%    21631 non-null  float64
 17  FT      21747 non-null  int64
 18  FTA     21747 non-null  int64
 19  FT%     20760 non-null  float64
 20  ORB     21747 non-null  float64
 21  DRB     21747 non-null  float64
 22  TRB     21747 non-null  float64
 23  AST     21747 non-null  int64
 24  STL     21747 non-null  float64
 25  BLK     21747 non-null  float64
 26  TOV     21747 non-null  float64
 27  PF      21747 non-null  int64
 28  PTS     21747 non-null  int64
 29  PER     21742 non-null  float64
 30  TS%     21644 non-null  float64
 31  3PAr    21631 non-null  float64
 32  FTr     21631 non-null  float64
 33  ORB%    21742 non-null  float64
 34  DRB%    21742 non-null  float64
 35  TRB%    21742 non-null  float64
 36  AST%    21742 non-null  float64
 37  STL%    21742 non-null  float64
 38  BLK%    21742 non-null  float64
 39  TOV%    21660 non-null  float64
 40  USG%    21742 non-null  float64
 41  OWS     21747 non-null  float64
 42  DWS     21747 non-null  float64
 43  WS      21747 non-null  float64
 44  WS/48   21742 non-null  float64
 45  OBPM    21747 non-null  float64
 46  DBPM    21747 non-null  float64
 47  BPM     21747 non-null  float64
 48  VORP    21747 non-null  float64
dtypes: float64(36), int64(11), object(2)
memory usage: 8.3+ MB

In [4]:
data_source[data_source.duplicated(subset = ['Year', 'Player'],keep=False)][15:31]

,Year,Player,Pos,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
65,1982,Charlie Criss,PG,33.0,55,20.0,1392.0,222,498,0.446,10.0,29.0,0.345,212,469,0.452,0.456,141,159,0.887,13.0,69.0,82.0,187,44.0,6.0,82.0,96,595,13.3,0.524,0.058,0.319,1.1,5.9,3.4,19.2,1.5,0.3,12.6,19.5,1.6,0.4,2.1,0.072,-0.5,-2.5,-3.0,-0.4
66,1982,Charlie Criss,PG,33.0,27,0.0,552.0,84,210,0.400,2.0,8.0,0.250,82,202,0.406,0.405,65,73,0.890,6.0,32.0,38.0,75,23.0,2.0,30.0,40,235,13.6,0.485,0.038,0.348,1.2,6.6,3.9,20.7,2.1,0.2,11.0,21.4,0.4,0.6,1.0,0.089,-1.2,-1.3,-2.5,-0.1
67,1982,Charlie Criss,PG,33.0,28,20.0,840.0,138,288,0.479,8.0,21.0,0.381,130,267,0.487,0.493,76,86,0.884,7.0,37.0,44.0,112,21.0,4.0,52.0,56,360,13.1,0.552,0.073,0.299,1.0,5.4,3.1,18.1,1.2,0.3,13.8,18.3,1.2,-0.2,1.1,0.061,-0.1,-3.3,-3.4,-0.3
98,1982,Mike Evans,PG,26.0,22,0.0,270.0,35,86,0.407,0.0,6.0,0.000,35,80,0.438,0.407,13,20,0.650,5.0,17.0,22.0,42,13.0,0.0,26.0,36,83,7.3,0.438,0.070,0.233,2.1,7.2,4.6,21.0,2.3,0.0,21.5,18.4,-0.4,0.3,-0.1,-0.013,-4.4,-1.1,-5.5,-0.2
99,1982,Mike Evans,PG,26.0,14,0.0,196.0,24,51,0.471,0.0,2.0,0.000,24,49,0.490,0.471,8,12,0.667,3.0,9.0,12.0,22,9.0,0.0,15.0,26,56,7.2,0.498,0.039,0.235,1.8,5.1,3.5,14.5,2.2,0.0,21.0,15.0,-0.1,0.2,0.2,0.041,-4.0,-0.8,-4.8,-0.1
100,1982,Mike Evans,PG,26.0,8,0.0,74.0,11,35,0.314,0.0,4.0,0.000,11,31,0.355,0.314,5,8,0.625,2.0,8.0,10.0,20,4.0,0.0,11.0,10,27,7.5,0.350,0.114,0.229,2.9,13.0,7.6,38.0,2.6,0.0,22.2,27.6,-0.3,0.0,-0.2,-0.158,-5.4,-1.8,-7.2,-0.1
129,1982,Steve Hayes,C,26.0,35,0.0,487.0,54,111,0.486,0.0,0.0,NaN,54,111,0.486,0.486,32,53,0.604,39.0,78.0,117.0,28,4.0,20.0,19.0,71,140,10.7,0.521,0.000,0.477,8.5,18.0,13.1,7.3,0.4,2.3,12.4,12.3,0.5,0.5,0.9,0.092,-2.1,0.2,-1.9,0.0
130,1982,Steve Hayes,C,26.0,9,0.0,75.0,8,18,0.444,0.0,0.0,NaN,8,18,0.444,0.444,7,12,0.583,7.0,10.0,17.0,4,1.0,2.0,2.0,17,23,9.7,0.494,0.000,0.667,10.0,14.3,12.1,6.4,0.6,1.5,7.9,13.4,0.1,0.1,0.2,0.099,-1.5,-0.8,-2.3,0.0
131,1982,Steve Hayes,C,26.0,26,0.0,412.0,46,93,0.495,0.0,0.0,NaN,46,93,0.495,0.495,25,41,0.610,32.0,68.0,100.0,24,3.0,18.0,17.0,54,117,10.9,0.527,0.000,0.441,8.3,18.7,13.3,7.4,0.3,2.4,13.3,12.1,0.4,0.4,0.8,0.091,-2.2,0.4,-1.8,0.0
137,1982,Armond Hill,PG,28.0,40,18.0,723.0,53,126,0.421,0.0,2.0,0.000,53,124,0.427,0.421,39,55,0.709,12.0,40.0,52.0,106,21.0,5.0,66.0,88,145,5.5,0.483,0.016,0.437,1.9,6.3,4.1,17.8,1.4,0.4,30.5,12.2,-0.6,0.2,-0.4,-0.024,-4.6,-1.3,-5.9,-0.7
138,1982,Armond Hill,PG,28.0,21,4.0,243.0,19,37,0.514,0.0,0.0,NaN,19,37,0.514,0.514,17,23,0.739,6.0,19.0,25.0,25,5.0,2.0,14.0,37,55,7.4,0.584,0.000,0.622,2.8,8.2,5.6,12.8,1.0,0.5,22.9,10.4,0.1,0.3,0.4,0.083,-3.3,0.2,-3.2,-0.1
139,1982,Armond Hill,PG,28.0,19,14.0,480.0,34,89,0.382,0.0,2.0,0.000,34,87,0.391,0.382,22,32,0.688,6.0,21.0,27.0,81,16.0,3.0,52.0,51,90,4.6,0.437,0.022,0.360,1.4,5.4,3.3,20.4,1.6,0.4,33.5,13.2,-0.7,0.0,-0.8,-0.078,-5.3,-2.0,-7.3,-0.6
140,1982,Brad Holland,SG,25.0,14,3.0,194.0,27,78,0.346,0.0,3.0,0.000,27,75,0.360,0.346,3,6,0.500,6.0,7.0,13.0,18,11.0,1.0,8.0,13,57,6.8,0.353,0.038,0.077,3.4,3.9,3.7,12.7,2.7,0.3,9.0,19.1,-0.4,0.3,-0.1,-0.025,-5.1,-0.1,-5.3,-0.2
141,1982,Brad Holland,SG,25.0,13,3.0,185.0,27,73,0.370,0.0,3.0,0.000,27,70,0.386,0.370,3,4,0.750,6.0,7.0,13.0,16,11.0,1.0,7.0,12,57,8.2,0.381,0.041,0.055,3.6,4.1,3.8,12.2,2.9,0.3,8.6,18.5,-0.2,0.3,0.0,0.005,-4.1,0.3,-3.8,-0.1
142,1982,Brad Holland,SG,25.0,1,0.0,9.0,0,5,0.000,0.0,0.0,NaN,0,5,0.000,0.000,0,2,0.000,0.0,0.0,0.0,2,0.0,0.0,1.0,1,0,-21.5,0.000,0.000,0.400,0.0,0.0,0.0,24.8,0.0,0.0,14.5,31.4,-0.1,0.0,-0.1,-0.649,-24.7,-9.7,-34.4,-0.1
145,1982,Phil Hubbard,SF,25.0,83,40.0,1839.0,326,665,0.490,0.0,4.0,0.000,326,661,0.493,0.490,191,280,0.682,187.0,286.0,473.0,91,65.0,19.0,161.0,292,843,13.4,0.535,0.006,0.421,10.8,18.0,14.3,7.0,1.7,0.6,17.0,20.6,0.9,1.7,2.6,0.069,-1.2,-0.8,-2.0,0.0

# Usunięcie duplikatów

In [5]:
data = data_source.copy()
#Drop rows with all missing values 
data.dropna(axis=0,how='all',inplace=True)
#Check for duplicated rows
data.duplicated().any() #False
data.duplicated(subset = ['Year', 'Player']).any() #True 
data = data[~data.duplicated(subset = ['Year', 'Player'], keep = 'first')]

# Dodanie kolumny MVP

In [6]:
mvp_winners_data = pd.read_excel(r"data/mvp_winners.xlsx",header=None,names=['Year','Player'],engine='openpyxl')
mvp_winners_data['Year'] = (mvp_winners_data['Year'].str[:2] + mvp_winners_data['Year'].str[5:]).astype('double')
mvp_winners_data['MVP'] = 1
mvp_winners_data

data['Player'] = data['Player'].str.replace('*','')
data = pd.merge(data,mvp_winners_data,on=['Year','Player'],how='left')
data.loc[(data['Year'] == 2021 ) & ( data["Player"].str.find('Nikola Joki') != -1 ),'MVP'] = 1
data.loc[(data['Year'] == 2022 ) & ( data["Player"].str.find('Nikola Joki') != -1 ),'MVP'] = 1
data['MVP'] = data['MVP'].fillna(0)

# Wypełnienie brakujących wartości

In [7]:
missing_cels = data.isnull().sum().sum()
all_cels = data.shape[0] * data.shape[1]
print("Missing values:", round(missing_cels / all_cels * 100,4),"%")

Missing values: 0.4163 %

In [8]:
data.isnull().mean()
#Deleting 3 players with NAN that are not significant 
data = data[data['USG%'].notna()]
#Deleting players that didnt make single shot
data['FG%'].fillna(0,inplace=True)
data['2P%'].fillna(0,inplace=True)
data['3P%'].fillna(0,inplace=True)
data['eFG%'].fillna(0,inplace=True)
data['FT%'].fillna(0,inplace=True)
data['TS%'].fillna(0,inplace=True)
data['3PAr'].fillna(0,inplace=True)
data['FTr'].fillna(0,inplace=True)
data['TOV%'].fillna(0,inplace=True)
data.isnull().mean()

Year      0.0
Player    0.0
Pos       0.0
Age       0.0
G         0.0
GS        0.0
MP        0.0
FG        0.0
FGA       0.0
FG%       0.0
3P        0.0
3PA       0.0
3P%       0.0
2P        0.0
2PA       0.0
2P%       0.0
eFG%      0.0
FT        0.0
FTA       0.0
FT%       0.0
ORB       0.0
DRB       0.0
TRB       0.0
AST       0.0
STL       0.0
BLK       0.0
TOV       0.0
PF        0.0
PTS       0.0
PER       0.0
TS%       0.0
3PAr      0.0
FTr       0.0
ORB%      0.0
DRB%      0.0
TRB%      0.0
AST%      0.0
STL%      0.0
BLK%      0.0
TOV%      0.0
USG%      0.0
OWS       0.0
DWS       0.0
WS        0.0
WS/48     0.0
OBPM      0.0
DBPM      0.0
BPM       0.0
VORP      0.0
MVP       0.0
dtype: float64

In [9]:
xd = pd.read_csv(r"data/votings/mvp_votings.csv")
xd = xd[["season","player","votes_first","points_won","points_max","award_share"]]
xd["season"] = (xd['season'].str[:2] + xd['season'].str[5:]).astype('double') 
xd = xd[xd["season"] > 1981]
xd = xd.reset_index(drop=True)
xd = xd[["player","votes_first","points_won","points_max","award_share","season"]]
xd.rename(columns={"player": "Player", "season": "Year"},inplace = True)
xd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       590 non-null    object
 1   votes_first  590 non-null    float64
 2   points_won   590 non-null    float64
 3   points_max   590 non-null    float64
 4   award_share  590 non-null    float64
 5   Year         590 non-null    float64
dtypes: float64(5), object(1)
memory usage: 27.8+ KB

In [10]:
votings_2000 = pd.read_table(r"data\votings\votings_2000.txt",usecols=["Player","First","Pts Won","Pts Max","Share"])
votings_2000.columns = ["Player","votes_first","points_won","points_max","award_share"]
votings_2000['Year'] = 2000

votings_2019 = pd.read_table(r"data\votings\votings_2019.txt",usecols=["Player","First","Pts Won","Pts Max","Share"])
votings_2019.columns = ["Player","votes_first","points_won","points_max","award_share"]
votings_2019['Year'] = 2019


votings_2020 = pd.read_table(r"data\votings\votings_2020.txt",usecols=["Player","First","Pts Won","Pts Max","Share"])
votings_2020.columns = ["Player","votes_first","points_won","points_max","award_share"]
votings_2020['Year'] = 2020

votings_2021 = pd.read_table(r"data\votings\votings_2021.txt",usecols=["Player","First","Pts Won","Pts Max","Share"])
votings_2021.columns = ["Player","votes_first","points_won","points_max","award_share"]
votings_2021['Year'] = 2021

votings_2022 = pd.read_table(r"data\votings\votings_2022.txt",usecols=["Player","First","Pts Won","Pts Max","Share"])
votings_2022.columns = ["Player","votes_first","points_won","points_max","award_share"]
votings_2022['Year'] = 2022

xd = pd.concat([xd,votings_2000,votings_2019,votings_2021,votings_2022,votings_2020])
xd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 657 entries, 0 to 11
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       657 non-null    object
 1   votes_first  657 non-null    float64
 2   points_won   657 non-null    float64
 3   points_max   657 non-null    float64
 4   award_share  657 non-null    float64
 5   Year         657 non-null    float64
dtypes: float64(5), object(1)
memory usage: 35.9+ KB

In [12]:
data['Player'] = data['Player'].where(data['Player'] != "Nikola JokiÄ","Nikola Jokić" )
data['Player'] = data['Player'].where(data['Player'] != "Luka DonÄiÄ","Luka Dončić" )

In [13]:
xd['Player'] = xd['Player'].where(xd['Player'] != "World B. Free","World B." )
xd['Player'] = xd['Player'].where(xd['Player'] != "Micheal Ray Richardson","Micheal Ray" )
xd['Player'] = xd['Player'].where(xd['Player'] != "Joe Barry Carroll","Joe Barry" )
xd['Player'] = xd['Player'].where(xd['Player'] != "Joe Barry Carroll","Joe Barry" )

data_new = pd.merge(data,xd,on=['Year','Player'],how='left')
data_new.fillna(0,inplace=True)
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17672 entries, 0 to 17671
Columns: 54 entries, Year to award_share
dtypes: float64(41), int64(11), object(2)
memory usage: 7.4+ MB

In [20]:
data_new.describe()

,Year,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,...,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,MVP,votes_first,points_won,points_max,award_share
count,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,...,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000,17672.000000
mean,2003.800475,26.651143,53.485967,26.043572,1258.955976,201.954391,437.290346,0.440831,29.503508,83.650407,0.222214,172.450883,353.639939,0.465182,0.472786,100.258092,132.702241,0.703002,63.351177,159.403916,222.755093,120.420722,41.593651,26.252037,76.845801,...,12.775809,0.511397,0.193980,0.309418,6.004663,14.070801,10.038847,13.142202,1.634461,1.533001,14.400713,18.860055,1.373800,1.287387,2.662042,0.072343,-1.534840,-0.397629,-1.932385,0.636119,0.002320,0.248246,6.452744,39.182888,0.006031
std,11.652288,4.108003,25.281795,29.385690,915.041174,182.920863,382.808807,0.096682,45.380063,120.161668,0.180623,167.062753,332.229848,0.104691,0.099293,109.371716,139.191059,0.189167,66.305310,145.175991,204.720168,141.386983,37.705643,36.928903,66.641880,...,6.149832,0.095807,0.207824,0.215632,4.864932,6.515351,4.965558,9.469635,1.010381,1.756595,6.311463,5.455085,2.096676,1.225067,3.016844,0.100327,3.986079,2.175210,4.941934,1.394529,0.048112,4.194890,64.823243,202.760587,0.059318
min,1982.000000,18.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-90.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.300000,-1.000000,-2.100000,-2.519000,-73.800000,-31.100000,-86.700000,-2.600000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1994.000000,23.000000,34.000000,1.000000,406.750000,49.000000,115.000000,0.404000,0.000000,2.000000,0.000000,38.000000,84.000000,0.430000,0.441000,20.000000,28.000000,0.651750,15.000000,44.000000,62.000000,21.000000,11.000000,4.000000,22.000000,...,9.900000,0.481000,0.008000,0.192750,2.400000,9.300000,6.200000,6.500000,1.100000,0.400000,10.900000,15.300000,0.000000,0.300000,0.300000,0.038000,-3.200000,-1.500000,-3.800000,-0.200000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2004.000000,26.000000,61.000000,11.000000,1177.000000,156.000000,345.000000,0.445000,5.000000,21.000000,0.273000,123.000000,259.000000,0.473000,0.482000,64.000000,88.000000,0.748000,40.000000,126.000000,171.000000,72.000000,33.000000,13.000000,61.000000,...,12.900000,0.523000,0.116000,0.278000,5.000000,13.100000,9.200000,10.350000,1.500000,1.000000,13.650000,18.500000,0.600000,1.000000,1.700000,0.081000,-1.300000,-0.400000,-1.500000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2014.000000,29.000000,76.000000,52.000000,2000.000000,309.000000,671.000000,0.488000,44.000000,129.000000,0.357000,258.000000,532.000000,0.512000,0.519000,144.000000,193.000000,0.813000,91.000000,230.000000,320.000000,166.000000,62.000000,33.000000,115.000000,...,15.900000,0.559000,0.345250,0.385000,8.800000,18.200000,13.400000,17.800000,2.000000,2.100000,17.000000,22.100000,2.200000,1.900000,4.100000,0.119000,0.400000,0.800000,0.600000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2022.000000,44.000000,85.000000,83.000000,3533.000000,1098.000000,2279.000000,1.000000,402.000000,1028.000000,1.000000,1086.000000,2213.000000,1.000000,1.500000,833.000000,972.000000,1.000000,558.000000,1007.000000,1530.000000,1164.000000,301.000000,456.000000,464.000000,...,133.800000,1.500000,1.000000,6.000000,100.000000,100.000000,86.400000,100.000000,25.000000,77.800000,100.000000,100.000000,15.200000,9.100000,21.200000,2.712000,199.400000,46.800000,242.200000,12.400000,1.000000,131.000000,1310.000000,1310.000000,1.000000

# Zapisanie gotowych danych

In [21]:
data_new.to_csv(r"data/cleared_data.csv")
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17672 entries, 0 to 17671
Columns: 54 entries, Year to award_share
dtypes: float64(41), int64(11), object(2)
memory usage: 7.4+ MB